<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <script src="./script.js" defer></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<header >
      <h1><a href="/homepage">Library project</a></h1>
    <div>
    <a class="logout" href="/logout">Sign out  </a>
    <button onclick="showModal()" class="show-modal">Add New book</button></div>
    <div id="block">
        <div class="modal">
            <form style="all: unset;" action="/" method="POST">
            <div class="close">close</div>
            <h2 class="modal-title">add new book</h2>
          <span id="modalItem"> Book name : <input name="book" required autocomplete="off" id="name" type="text"></span>  
          <span id="modalItem"> Book name : <input name="book" required autocomplete="off" id="name" type="text"></span>  
           <span id="modalItem"> Author : <input name="author" required autocomplete="off"  id="author" type="text"></span> 
            <span id="modalItem">Pages count : <input name="pageNum" required autocomplete="off"  id="pageNum" type="number"></span>
            <span id="modalItem">did your read it ? : <input name="readState"  autocomplete="off"  id="readState" type="checkbox"></span> 
            <button  class="submitButton">Add book</button></form>
        </div>
    </div>
</header>
<body>
    <div id="books-grid">
    <% books.forEach(book => { %>
        <div class="books-grid-item ">
        <div class="book-properties">
        <div class="item"> ISBN code: <%= book.code %></div>
        <div class="item">Book name: <%= book.book %></div>
        <div class="item">Author : <%= book.author %></div>
        <div class="item">Page count : <%= book.pageNum %></div>
        <% if (book.readState === 'on'){ %>
            <div class="item">I Finished it</div>
        <% }else{ %>
            <div class="item">I did not read it</div>
        <% } %>
    </div>
      <a href="/<%= book.id %>" class="deleteBook">Delete book</a>
    </div> 
   <% }); %>  </div>
    
</body>
<%- include('./partials/footer.ejs') %>
</html>